
body {
    background-color: rgb(49, 95, 131);
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0; /*espaço entre coisas*/
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

section {
    background: #fff;
    max-width: 400px; /*largura maximo*/
    margin: 40px auto; /*auto é para centralizar a section no meio e margin é a altura da h1 para section*/
    padding: 90px 90px; /*testa e largura branca*/
    border-radius: 400px; /*borda arredondada*/
    box-shadow: 0 40px 20px rgb(44, 62, 80); /*deixar com degrade atrás do círculo*/
    display: flex; /*permitir centralizar*/
    flex-direction: column; /*deixar em coluna*/
    align-items: center; /*centralizar*/

}

input[type="number"] {
    width: 85%; /*largura dos inputs, onde vamos adicionar alguma informação*/
    padding: 12px; /*altura dentro do intupt, o quadradinho que vamos colocar a informação*/
    margin: 18px 0; /*altura entre input e a section*/
    border: 1px solid #b2bec3; /*tamanho da borda*/
    border-radius: 8px;
    font-size: 1rem; /*tamanho da fonte*/
    transition: border-color 0.2s; /*mudar a cor da borda em 0.2 segundos*/
    background: #f7fafd;
}

input[type="number"]:focus { /*subiclasse*/
    border-color: rgb(9, 132, 227); /* a cor que muda*/
    outline: none; /*ela normalmente é preta, isso faz com que deixe a cor que botamos e tira a expessura da margem*/
}

button { 
    width: 90%; /*largura*/
    padding: 12px; /*altura*/
    margin-bottom: 18px; /*altura entre o sair e o vender*/
    background: #0984e3;
    color: #fff;
    border: none; /*expessura da margem 0*/
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer; /*deixar ele para clicar*/
    transition: background 0.2s; /*em 0.2 segundos*/
}

button:hover { /*subclasse*/
    background: #74b9ff; /*mudar a cor do button*/
}

#resultado {
    margin-top: 24px;
    font-size: 1.1rem;
    color: #636e72;
    text-align: center;
    min-height: 24px; /*altura em baixo*/
    max-width: 340px;   /* largura máxima do bloco */
    word-wrap: break-word; /* força quebra quando necessário */
}
